@model IEnumerable<GradStockUp.Models.Customer>

@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/Cruds_Layout.cshtml";
}
<link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" />
<h2>Customers</h2>

<div style="padding-bottom:6rem">
    <div class="col-md-3">
        <a href="@Url.Action("Create","Customers")" class="btn btn-default"><i class="fa fa-plus"></i>  Create New </a>
    </div>
</div>
<table class="table table-striped table-hover table-condensed table-responsive table-hover" id="CustomersTable">
    <thead class="table-heading">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextoFKin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kinPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerSurname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IDnumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NextoFKin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.kinPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Organization.Name)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Customers", new { id = item.CustomerID})" class="btn btn-default"><i class="fa fa-pencil"></i></a>
                    <a onclick="Delete(@item.CustomerID)" class="btn btn-default"><i class="fa fa-trash"></i>  </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                toastr.success(successMessage);
        });
        $(function () {
            var errorMessage = '@TempData["ErrorMessage"]'
                    if (errorMessage != '')
                        toastr.error(errorMessage);
        });
         function Delete(id) {
            alertify.confirm('GradStockUp','Are You Sure to Delete this Record ?',function(){
                window.location.href  = '@Url.Action("Delete", "Customers")/'+id;
            },null );
        }
    </script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script>
        function activateJQueryTable() {
            $("#CustomersTable").DataTable();
        }
        $(function () {
            activateJQueryTable();
        }
        );

    </script>
}
