@model GradStockUp.Models.InstitutionLineQualification

@{
    ViewBag.Title = "Edit";
}
@{
    Layout = "~/Views/Shared/Cruds_Layout.cshtml";
}
<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>InstitutionLineQualification</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.StockTypeID)

        @Html.HiddenFor(model => model.EstablishmentID)

        @Html.HiddenFor(model => model.InstitutionID)

        @Html.HiddenFor(model => model.QualificationTypeID)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
