@model GradStockUp.Models.StockState

@{
    ViewBag.Title = "Edit";
}
@{
    Layout = "~/Views/Shared/Cruds_Layout.cshtml";
}
<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>StockState</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.StockStateID)

        <div class="form-group">
            @Html.LabelFor(model => model.STATE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.STATE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.STATE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href=" @Url.Action("Index","StockStates")" class="btn btn-default"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Stock States </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
