@model IEnumerable<GradStockUp.Models.RefundStatu>

@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/Cruds_Layout.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />
<h2>Refund Statuses</h2>

<p>
    <a href="@Url.Action("Create","RefundStatus")" class="btn btn-default"><i class="fa fa-plus"></i>  Create New </a>
</p>
<table class="table table-striped table-hover table-condensed table-responsive table-hover" id="RefundStatusTable">
    <thead class="table-heading">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "RefundStatus", new { id = item.RefundStatusID})" class="btn btn-default"><i class="fa fa-pencil"></i>Edit</a>
                    <a onclick="Delete(@item.RefundStatusID)" class="btn btn-default"><i class="fa fa-trash"></i>  Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
        $(function () {
            var errorMessage = '@TempData["ErrorMessage"]'
                    if (errorMessage != '')
                        alertify.error(errorMessage);
        });
         function Delete(id) {
            alertify.confirm('GradStockUp','Are You Sure to Delete this Record ?',function(){
                window.location.href  = '@Url.Action("Delete", "RefundStatus")/'+id;
            },null );
        }
    </script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script>
        function activateJQueryTable() {
            $("#RefundStatusTable").DataTable();
        }
        $(function () {
            activateJQueryTable();
        }
        );

    </script>
}